// with media queries we calculate unsing 16px = 1em

// Large screens
$lg: 75em; // 1200px
// Medium screens
$md: 62em; // 992px
// Small screens
$sm: 48em; // 768px
/// Extra small screens
$xsm: 36em; // 576px
