$white: #fff;
$black: #000;
$darkGray: #1c1d1f;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverlight-50: #d4cfcf;
$silverlight-45: #e2e4eb;
$silverlight-40: #f6f6fb;
$orange: #fbbf24;
$green: #3fd399;
